#include "winver.h"

IDI_ICON1		ICON		DISCARDABLE	"24.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGS 0x0L
 FILEFLAGSMASK 0x3fL
 FILEOS 0x00040004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "辽宁万泰汽车零部件有限公司"
            VALUE "FileDescription", "数据抽取统计生成"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "LegalCopyright", "Copyright @ 2014 辽宁万泰汽车零部件有限公司."
            VALUE "InternalName", "Lnwt.exe"
            VALUE "OriginalFilename", "Lnwt.exe"
            VALUE "ProductName", "Liaoningwantai"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
